[submodule "frontend-web"]
	path = frontend-web
	url = https://github.com/JxVtrl/deuquantas-frontend-web.git
[submodule "frontend-mobile"]
	path = frontend-mobile
	url = https://github.com/JxVtrl/deuquantas-frontend-mobile.git
[submodule "backend"]
	path = backend
	url = https://github.com/JxVtrl/deuquantas-backend.git
[submodule "infra"]
	path = infra
	url = https://github.com/JxVtrl/deuquantas-infra.git
